# ============================================================================
# Required Libraries
# ============================================================================

# Command Line
# ------------
Click >= 7.1.2

# Internet
# --------
requests >= 2.25.1
urllib3 >= 1.26.2

# Docker
# ------
docker >= 4.4.0
chardet >= 4.0.0

# Documentation
# -------------
Sphinx >= 3.4.0
sphinx-rtd-theme >= 0.5.0
sphinx-click >= 2.5.0

# ============================================================================
# SW Engineering Libs
# ============================================================================

# Testing
# -------
pytest >= 6.2.1
pytest-cov >= 2.10.1
coverage >= 5.3.1

# Linting
# -------
pylint >= 2.6.0
flake8 >= 3.8.4
pycodestyle >= 2.6.0
pydocstyle >= 5.1.1
black >= 20.8b1

# Packaging
# ---------
pip >= 20.3.3
wheel >= 0.36.2

# CI/CD
# -----
bump2version >= 1.0.1
pre-commit >= 2.9.3
tox >= 3.20.1

watchdog >= 1.0.2
twine >= 3.2.0
